@import url(http://fonts.googleapis.com/css?family=Croissant+One|Special+Elite|Droid+Sans);
body
{
	font-family:'Droid Sans', sans-serif;
	font-size:10pt;
	color:#555;
	line-height: 25px;
  background-color: #ddd;
  min-width: 750px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
abbr[title] { border-bottom: 1px dotted; }
dfn { font-style: italic; }
/*
| Links
*/
a, .href { 
	color: #2972A3; 
	text-decoration:underline; 
}
a:visited, .visited {
	color: #72ADD4; 
	text-decoration:none;
}
a:hover, .hover {
	color: #3dc1ff;
}
/*href external linking*/
a[href^="http"]:after, .offsite {
  color: #2972A3;
  content: "\21D2";
  font-size: 15px;
}
a[href^="http://laravel.dev:8888"]:after,
a[href^="http://http://jahdakine.pagodabox.com/"]:after {
  content: "";
}
/*
| Tooltip
 */
.ui-tooltip, .arrow:after {
  background: #eee;
  border: 2px solid #3dc1ff;
}
.ui-tooltip {
  padding: 5px 10px;
  color: #333;
  border-radius: 5px;
  font: 80% "Helvetica Neue", Sans-Serif;
  box-shadow: 8px 8px 12px #2972A3;
}
/*
|Wrapper
*/
.wrapper {
	width:100%;
	margin: 0 auto;
}
.wrapper>header {
	font-family: 'Croissant One', cursive;
  background-color: #eee;
	background-image:url(../img/logoback.png);
	background-repeat:no-repeat;
	background-position:right;
	text-shadow:2px 1px 0 #fff;
	padding: 1em;
	margin: 0;
}
.wrapper>header h1 {
	font-size: 32pt;
	margin: 20px 0 23px 0;
	letter-spacing: 2px;
	color:#aaa;
}
.wrapper>header h2 {
	color:#888;
	letter-spacing: 2px;
	margin: 20px 0 6px 0;
}
.wrapper>header h4 {
	letter-spacing: 2px;
	margin: 14px 0 10px 0;
}
/*
| Navigation
*/
.pad-me {
	color: #aaa !important;
	padding: 5px;
}
.container {
  margin : 1em;
}
ul#nav { 
  width: 100%;
  background-color: #333;
  margin:0 0 1em 0;
}
ul.drop a { display:block; color: #FFF; font-family: Verdana; font-size: 14px; text-decoration: none;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; background: #555; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; vertical-align: middle; zoom: 1; padding: 5px 10px; color: #333; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #0b75b2; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px; background: #555; }
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible } 
/*
| Misc
*/
.hilited { background-color: yellow; }
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.reset {margin:0;padding:0;}
.hide { display:none; }
.display{ position:relative; }
.transparent { opacity: 0 }
.nolist { list-style:none; }
.shim { padding-bottom: 3px; }
.to-right { float:right !important; }
.to-left { float:left !important; }
.no-overflow { overflow:hidden !important; }
.def, acronym {
  text-decoration:none;
  border-bottom:1px dotted;
  color: rgb(0,100,200);
}
/*
| Footer
*/
.copy {
	color: #aaa;
	font-style: italic;
	text-align:center;
	font-size:12px;
}

/* end ------------------------ */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
