/*
| Main
*/
body {
  background-color: #ddd;
  min-width: 700px;
}
section, article, header, footer, nav, aside {
    display: block;
}
.container {
  margin : 1em;
}
/*
| Navigation
*/
.nav {
	width: 100%;
	background-color: #333;
	float: left;
	padding: 10px 0;
  margin:0 0 1em 0;
}
.nav li {
  list-style: none;
  color: white;
  float: left;     
  background-color: #333; 
}
.nav a {
	background-color: #333; 
	text-decoration: none; 
	padding: 10px 5px; 
}
.nav li a:visited {
  color: white;
}
.nav li a:hover {
  color: #fff;
  background-color:#0b75b2;
}
.nav ul li .current {
  color: #fff;
	background-color: #333;
}
.pad-me {
	color: #aaa !important;
	padding: 0 5px 0 5px;
}
/*
| General
*/
.hilited { background-color: yellow; }
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.displayed { position:relative; }
.communicate {
  list-style:none;
  padding:2px;
}
.list {
  list-style:none;
}
.shim { padding-bottom: 3px; }
a[icon ^="out"] {
   padding: 0 20px 0 0;
   background: transparent url(/img/offsite-icon.png) no-repeat center left;
}
a[icon ^="out-text"] {
   padding: 0 20px 0 0;
   background: transparent url(/img/offsite-icon.png) no-repeat right;
}
/*.abbr {
  padding: 10px 20px;
  color: #ccc;
  background-color: yellow;
  border-radius: 10px;
  font: 90% "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black; 
}*/
/*
| Footer
*/
.copy {
	color: #aaa;
	font-style: italic;
	text-align:center;
	font-size:12px;
}