/*
| Main
*/
body {
  background-color: #ddd;
  min-width: 750px;
}
/*
| Navigation
*/
.pad-me {
	color: #aaa !important;
	padding: 5px;
}
.container {
  margin : 1em;
}
ul#nav { 
  width: 100%;
  background-color: #333;
  margin:0 0 1em 0;
}
ul.drop a { display:block; color: #FFF; font-family: Verdana; font-size: 14px; text-decoration: none;}
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; background: #555; color: #fff;}
ul.drop { position: relative; z-index: 597; float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; color: #333; }
ul.drop li.hover, ul.drop li:hover { position: relative; z-index: 599; cursor: default; background: #0b75b2; }
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 195px; background: #555; }
ul.drop ul li { float: none; }
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible } 
/*
| Image Matrix
*/
.image-matrix {
  width:100%;
  text-align:center;
  margin: 7px auto;
}
.image-matrix div {
    display:inline-block;
    margin:10px 0;
}
.image-matrix a img {
  border: 1px solid #ccc;
  width: 150px;
  height: 150px;
  background-color: white;
  padding: 9px;
  margin: 7px;
  position: relative;
}
/*
| List Carousel
*/
.list-carousel {
  padding: 15px 18px 15px 18px;
}
.list-carousel ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.list-carousel li {
  font-size: 12px;
  color: #666;
  text-align: center;
  background-color: #ccc;
  border: 5px solid #bbb;
  width: 158px;
  height: 158px;
  padding: 0;
  margin: 2px;
  display: block;
  float: left;
}
.clear-fix {
  float: none;
  clear: both;
}
/*
| List Text
*/
.list-text {
  width: 100%;
  vertical-align: top;
}
#t1, #t2 {
  width: 33%;
  padding: 10px;
  float:left;
  list-style: none;
}
#t3 {
  width:auto;
  padding: 10px;
  float:left;
  list-style: none;
}
/*
|3 cols
*/
#wrapper {
  width: 100%;
  display:table;
  border-spacing: 0;
}
#firefox-bug-fix {
  display:table-row;
}
.columns {
  display: table-cell;
  border: 1px solid #aaa;
  vertical-align: top;
}
.columns a { color: blue; }
#c1 {
  background-color: #326698;
  color: #FFF;
  padding: 20px;
  width: 33%;
  min-width: 180px;
}
#c2 {
  background-color: #FFF;
  width: auto;
  padding: 20px;
}
#c3 {
  background-color: #D7D7D7;
  width: 33%;
  min-width: 180px;
  padding: 20px;
}
/*
| Frames
*/
#imageFrame, #textFrame {
  display:none;
  list-style:none;
  background-color: #ccc;
  border: black 1px solid;
  margin: 1em auto;
  padding: 5px;
  width: 100%;
}
/*
| Tooltip
 */
.ui-tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}
.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: 90% "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black;
}
  .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow.top {
  top: -16px;
  bottom: auto;
}
.arrow.left { left: 20%; }
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  .arrow:after, .top:after {
  bottom: -20px;
  top: auto;
}
/*
| Sticky notes
*/
.notes {
  width:50%;
  margin: 50px auto;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,.15);
  -moz-box-shadow: 10px 10px 20px rgba(0,0,0,.15);
  box-shadow: 10px 10px 20px rgba(0,0,0,.15);
  background-color: #fcf59b;  
  font-family: 'Special Elite', cursive;
}
.notes li {
  list-style: square;
  color: #2972A3;
  line-height: 1em;
  margin-bottom: 20px;
}
/*
| Misc
 */
.hilited { background-color: yellow; }
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.hide { display:none; }
.displayed { position:relative; }
.communicate {
  list-style:none;
  padding:2px;
}
.nolist {
  list-style:none;
}
.shim { padding-bottom: 3px; }
a[icon ^="out"] {
   padding: 0 20px 0 0;
   background: transparent url(/img/offsite-icon.png) no-repeat center left;
}
a[icon ^="out-text"] {
   padding: 0 20px 0 0;
   background: transparent url(/img/offsite-icon.png) no-repeat right;
}
.to-right { float:right !important; }
.to-left { float:left !important; }
.no-overflow { overflow:hidden !important; }
.def {
  text-decoration:none;
  border-bottom:1px dotted;
}
/*.abbr {
  padding: 10px 20px;
  color: #ccc;
  background-color: yellow;
  border-radius: 10px;
  font: 90% "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black; 
}*/
/*
| Footer
*/
.copy {
	color: #aaa;
	font-style: italic;
	text-align:center;
	font-size:12px;
}